/*MOBILE VERSION---------------------------------------------*/

@media (min-width: 1451px) and (max-width: 1580px) {

  header button{
    max-width: 150px;
  }
}

@media (min-width: 770px) and (max-width: 1400px) {

  .app{
    padding: 2px 7px 12px 12px;
    gap:0px;
  } 
  header{
      left: calc(var(--sidebar-width) + 18px);
      width: calc(100% - var(--sidebar-width) + -26px);
  }

  header #shareRoutesBtn span,
  header .save-block span{
    display: none;
  }

  .mapWrap {
    margin-top: 95px;
    margin-left: 6px;
  }
  .done-panel {
    right: 7px;
  }

}


@media (min-width: 771px) and (max-width: 1580px) {

  .miniMap{
    margin-top: 0;
  }

  .miniMap-inner{
    width: 170px;
    height: 170px;
  }

  #zoomReadout{
    top: 173px;
  }

}


@media (max-width: 770px) {

  .sidebar{
    position: fixed;
    height: 240px;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }

  header #shareRoutesBtn span,
  #zoomReadout,
  #zoomControls,
  header .save-block span{
    display: none;
  }

  #version{
    left: 11px;
    width: 48px;
  }

.app-logo img{
    width: 110px;
    margin-top: 30px;
}

.announce{display: none;}

.filterBar .filterToggle {
    margin: 0px 0px 0px 9px;
}

  #left-menu.open {
    transform: translateX(0);
  }

  .app{
    grid-template-columns: 1fr;
    height: 76%;
  }

  .sidebar{
    position: fixed;
    height: 216px;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }


  .sidebar .section{
    margin-top: 0!important;
  }

 .sidebar .filterBar{
    padding: 8px 18px 11px 18px;
 }

 .sidebar .tool-section{
  display: flex;
  flex-direction: column;
  min-width: 263px;
 }

 .sidebar .tool-section .info{
  display: none;
 }

  .section.light{
    min-width: 420px;
    max-height: 400px!important;
  }

   #list .listItem{
    padding: 5px 9px 4px 9px;
  }

  #helpToggle{
    min-width: 127px;
    height: 20px;
  }

  .done-panel{
    bottom: 43.5vh;
  }

  .floating #miniMap{
    display: none;
  }

}

@media (min-width: 770px) and (max-width: 1179px) {

  header,
  body.sidebar-collapsed header{
    width: 98.2% !important;
    left: 8px !important;
    left: inherit;
    right: inherit;
  }

  .sidebar{
    margin-top: 94px;
  }

}

@media (max-width: 770px) {

  header .sep,
  #sidebarToggle{
    display: none;
  }

  .searchBar{
      bottom: 60px;
  }

  .map-info-container {
    margin-top: -86px;
    margin-right: -26px;
  }


  .header-actions{
    flex-direction: column;
    align-items: baseline;
    gap: 18px;
  }

  .gd-popup{
    top: 0!important;
    transform: translateX(-100%);
  }

  .gd-popup__card{
    min-width: 100%;
  }

  header{
    top:0;
    transform: translateX(-94%);
    left: -14px!important;
    width: 41%;
    flex-direction: column;
    position: absolute;
    z-index: 5000;
    align-items: flex-start;
    max-width: 55%;
    border-top-right-radius: 0;
    transition: transform 0.3s ease;
  }

  header .right-panel{
    position: initial;
    margin-top: 10px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
  }

  #mobile-menu-toggle{
    display: block;
    position: absolute;
    right: -49px;
    padding: 11px;
    top: 0;
    background: var(--panel);
    border-top-left-radius: 0;
  }

  #version{
    left: 0;
    top: 96vh;
    max-width: 55px;
    position: fixed;
  }

  .app{
    padding: 0 12px 12px 0px;
  }

  #cursorReadout{
    display: none;
  }

  #toastContainer{
    top: 1rem;
  }

  #mapLoader{
    z-index: 2000;
  }

  .toolpanel{
    display: flex;
    flex-direction: column;
    min-width: 277px;
  }


  .mapWrap{
    width: 103%;
    margin-top: 8px;
  }

  .done-panel{
    right: 1px;
  }


}
