/*MOBILE VERSION---------------------------------------------*/

@media (min-width: 771px) and (max-width: 1580px) {

  .miniMap{
    margin-top: -15px;
  }

  .miniMap-inner{
    width: 170px;
    height: 170px;
  }

  #zoomReadout{
    top: 158px;
  }

  #zoomControls{
    top: 112px;
  }

  .done-list {
    height: calc(100vh - 500px - 150px);
  }


}


@media (max-width: 1450px) {

  .app{
    padding: 2px 7px 12px 12px;
    gap:0px;
  } 
  header{
    left: 0;
    width: 100%;
  }

  .sidebar{
    margin-top: 85px;
    height: calc(100vh - 155px);
  }

  header #shareRoutesBtn span,
  header .save-block span{
    display: none;
  }

  .mapWrap {
    margin-left: 6px;
  }
  .done-panel {
    right: 7px;
  }

  #catalog-helper .helper-card{
    flex-basis: calc(50% - 12px);
  }

  .done-list {
    height: calc(100vh - 550px);
  }

  .floating #miniMap,
  #zoomReadout,
  #zoomControls{
    display: none;
  }

  .map-info-container{
    margin-top: 85px;
    margin-right: -23px;
  }

  #cursorReadout,
  .map-hint{
    display: none;
  }

  .app-logo img{
      width: 110px;
      margin-top: 30px;
  }

  #left-menu.open {
    transform: translateX(0);
  }

   #list .listItem{
    padding: 5px 9px 4px 9px;
  }

  #helpToggle{
    min-width: 127px;
    height: 20px;
  }

}


@media (max-width: 930px) {

  header .sep,
  .logo-d,
  .tool-section .info,
  .lock-label,
  .filter-minimap,
  #sidebarToggle{
    display: none;
  }

  #mainmap-page footer{
    position: fixed;
    bottom: 0;
  }

#globalFilters{
  left: initial;
  right: 0;
  top:0;
  transform: initial;
}

 #mainmap-page .title-banner .announce{
  margin-top: 32px;
 }

  header #shareRoutesBtn span, header .save-block span{
    display: block;
  }

  #mainmap-page .app-logo .title:not(#catalog .title){
    font-size: 15px;
    line-height: 16px;
  }

  .catalog-actions button{
    padding: 5px 10px;
  }

  .catalog-header{
    padding: 9px 8px;
  }


  .app-logo .title{
      font-size: 32px;
  }

  #catalog .app-logo{
    padding: 110px 20px;
  }

  .sidebar{
    background-image: linear-gradient(rgb(9 24 27), rgb(8 19 22));
    position: fixed;
    height: 170px;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }

  .js-character-dropdown{
    margin-top: 0;
    min-width: 160px;    
  }

  .js-character-dropdown .select-current .char-avatar-current{
    width: 32px;
    height: 32px;
  }

  .js-character-dropdown .select-current{
    padding: 9px 4px 12px 2px !important;
  }

  .js-character-dropdown .select-current .dropdown-selected-label{
    font-size: 16px;
    text-align: left;
  }

  .js-character-dropdown .custom-dropdown-inner{
    position: relative;
    height: 0;
  }

  .js-character-dropdown .custom-dropdown-inner .character-line{
    height: 0;
  }

  .js-character-dropdown.open .custom-dropdown-inner,
  .js-character-dropdown.open .custom-dropdown-inner .character-line{
    height: initial;
  }

  #mainmap-page #langDropdown .custom-dropdown-inner{
    max-height: 161px;
    display: flex;
    max-width: 290px;
    flex-wrap: wrap;
  }

  #mainmap-page #langDropdown .custom-dropdown-inner .option-item{
    width: initial;
  }

  .app-logo img.logo-m{
    width: 45px;
  }

  .sidebar .section.light,
  .sidebar .section.principal{
    min-width: 290px;
  }

  .section #list .right{
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
  } 

  .searchBar{
      bottom: 9px;
      left: 2px;
  }

  .searchBar input#locationSearch{
    width: 75%;
  }

  .searchBar input#locationSearch:focus{
    width: 150%;
  }

  .done-panel.collapsed {
    transform: translateX(270px);
  }

  .map-info-container {
    margin-top: -34px;
    margin-right: -26px;
  }


  .doneItem .doneLabel{
    max-width: 115px;
  }

  .header-actions{
    flex-direction: column;
    align-items: baseline;
    gap: 18px;
  }

  .gd-popup{
    top: 0!important;
    transform: translateX(-45%);
  }

  .gd-popup__card{
    min-width: 100%;
  }

  header:not(.catalog-header){
    background: var(--panel);
    top:54px;
    transform: translateX(-94%);
    left: -14px!important;
    width: 50%;
    flex-direction: column;
    position: fixed;
    z-index: 5000;
    align-items: flex-start;
    max-width: 55%;
    border-top-right-radius: 0;
    transition: transform 0.3s ease;
  }

  header .right-panel:not(#catalog header .right-panel){
    position: initial;
    margin-top: 10px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
  }

  #mobile-menu-toggle:not(#catalog #mobile-menu-toggle){
    display: block;
    position: absolute;
    right: -49px;
    padding: 11px;
    top: 0;
    background: var(--panel);
    border-top-left-radius: 0;
  }

  #version{
    left: 0;
    top: 96vh;
    max-width: 55px;
    position: fixed;
  }

  .app{
    display: initial;
    padding: 0 12px 12px 0px;
    height: 100vh;
  }

  #cursorReadout{
    display: none;
  }

  #toastContainer{
    top: 1rem;
  }

  #mapLoader{
    z-index: 2000;
  }

  .toolpanel{
    display: flex;
    flex-direction: column;
    min-width: 277px;
  }


  .mapWrap{
    position: fixed;
    min-width: 100%;
    margin-top: 8px;
    height: calc(100% - 182px);
  }

  #donePanel .done-panel-inner{
    width: 100%;
  }

  .done-panel{
    right: -5px;
    bottom: 170px;
  }


}
