body.sidebar-collapsed{
	--sidebar-width: 220px;
}

body.sidebar-collapsed #version{
	padding: 2px 6px;
    font-size: 10px;
}

.show-collapsed,
body.sidebar-collapsed .hide-collapsed{
	display: none;
}

body.sidebar-collapsed .show-collapsed{
	display: block;
}

body.sidebar-collapsed .sidebar .marker-save,
body.sidebar-collapsed .info,
body.sidebar-collapsed .announce{
	display: none;
}

body.sidebar-collapsed header{
	left: calc(var(--sidebar-width) + 21px);
	width: calc(100% - var(--sidebar-width) - 33px);
}

body.sidebar-collapsed .listItem div > .row{
	justify-content: space-between;
}

body.sidebar-collapsed .app-logo img{
	width: 185px;
}

body.sidebar-collapsed .app{
   padding: 0 13px 12px 8px;
}

body.sidebar-collapsed .sidebar{
	padding: 6px 0px 6px 8px;
}

body.sidebar-collapsed .lock-label{
	padding-left: 9px;
}

body.sidebar-collapsed .filterBar{
	flex-direction: column;
}

body.sidebar-collapsed .filterBar .filterToggle{
    margin: 2px 3px 14px 4px;
    width: 31px;
    height: 27px;
}

body.sidebar-collapsed .filterBar .filterToggle img{
    width: 15px;
	height: 15px;
}

body.sidebar-collapsed .js-character-dropdown .select-current .char-avatar-current{
    width: 38px;
    height: 38px;
}

body.sidebar-collapsed .section:not(.tool-section) button.marker-center, 
body.sidebar-collapsed .section:not(.tool-section) button.marker-save,
body.sidebar-collapsed .link-for-marker,
body.sidebar-collapsed .section:not(.tool-section) button.danger{
	padding: 4px 5px 4px 5px;
	max-width: 23px!important;
	min-width: inherit !important;
}

body.sidebar-collapsed button.marker-center img, 
body.sidebar-collapsed button.marker-save img,
body.sidebar-collapsed .link-for-marker img,
body.sidebar-collapsed button.danger img{
	width: 12px;
}


body.sidebar-collapsed .filterBar .filterToggle.is-on::after,
body.sidebar-collapsed .filterBar .filterToggle::after{
    transform: rotate(90deg);
    left: -49%;
    bottom: 12px;
}

body.sidebar-collapsed #list{
	padding: 3px 2px 15px 8px;
    max-height: 375px;
}

body.sidebar-collapsed #list .row.d-flex{
	align-items: baseline;
}

body.sidebar-collapsed #list .left{
	min-width: 94px;
}

body.sidebar-collapsed #list .list-input{
	padding: 1px 1px 0px 1px;
}

body.sidebar-collapsed #list .marker-cat-badge span{
	display: none;
}

body.sidebar-collapsed #list .marker-cat-badge{
	padding: 2px 5px;
}

body.sidebar-collapsed #list .right{
	justify-content: right;
}

body.sidebar-collapsed #routesPanel,
body.sidebar-collapsed #notePanel{
	max-height: 290px !important;
	min-height: inherit !important;
}

#notePanel #noteList{
	min-width: 100%;
}

body.sidebar-collapsed #routesList,
body.sidebar-collapsed #noteList
{
	padding: 3px 0px 6px 0px;
}

body.sidebar-collapsed #routesList .listItem{
    padding: 5px 5px 5px 7px;
}

body.sidebar-collapsed #routesList .listItem .markerLabel{
    width: 100%;
    max-width: inherit;
    font-size: 11px;
}

body.sidebar-collapsed .section.light{
	flex-direction: row!important;
	flex-wrap: wrap;
	align-items: baseline;
    align-content: baseline;
}

body.sidebar-collapsed .section h3{
	justify-content: center;
	padding-left: 0;
	font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body.sidebar-collapsed .section.light > .row:first-child{
	flex-direction: column;
	width: 100%;
}

body.sidebar-collapsed .sidebar .section.light .filterToggle{
    padding: 4px 4px 4px 4px;
    max-width: 27px;
}

body.sidebar-collapsed .listItem input[type="text"]{
	min-width: 100%;
}

body.sidebar-collapsed #routesList .listItem input{
	max-width: 84px;
}

body.sidebar-collapsed .listItem{
	border-width:3px;
	gap: 4px;
	padding: 5px 4px 3px 3px!important;
}

#sidebarToggle{
	width: 50px;
    left: calc(var(--sidebar-width) - 12px);
    top: 100px;
    height: 23px;
    background: none;
    border: 1px solid var(--border-color);
}

#sidebarToggle img{
  transform: scaleX(-1);
  transition: transform 0.6s;
}

body.sidebar-collapsed #sidebarToggle img{
  transform: inherit;
  transition: transform 0.6s;
}


body.sidebar-collapsed #routesPanel,
body.sidebar-collapsed #notePanel{
	flex-direction: column !important;
}

body.sidebar-collapsed .js-character-dropdown .custom-dropdown-inner{
    max-width: 189px;
}

body.sidebar-collapsed .js-character-dropdown .custom-dropdown-inner button{
    padding: 5px 4px;
}

body.sidebar-collapsed .js-character-dropdown .select-current {
     padding: 0px 12px 0px 0px;
}

body.sidebar-collapsed .js-character-dropdown .dropdown-selected-label{
     font-size: 15px!important;
}

body.sidebar-collapsed .js-character-dropdown .custom-dropdown-inner .character-line{
 padding: 4px 1px;
 gap: 3px;
}

body.sidebar-collapsed .js-character-dropdown .custom-dropdown-inner .character-select-zone{
	margin-right: 0px;
}

body.sidebar-collapsed .tool-section .row{
	flex-direction: column;
}
