/*MOBILE VERSION*/

@media (min-width: 1120px) and (max-width: 1580px) {
  :root {
   --sidebar-width: 420px;
    }
  header .right-panel{
    position: initial;
    margin-top: 12px;
  }

}

@media (max-width: 1119px) {

  #toastContainer{
    top: 10rem;
  }

  #mapLoader{
    position: initial;
  }

  header{
    left: 11px;
    width: 96%;
  }

  header .right-panel{
    position: initial;
    margin-top: 10px;
  }

  .toolpanel{
    display: flex;
    flex-direction: column;
    min-width: 277px;
  }

  .app{
    grid-template-columns: var(--sidebar-width) -1fr;
    height: 70%;
  }

  .sidebar{
    position: fixed;
    height: 300px;
    bottom: 0;
    z-index: 2;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }

  .sidebar .section{
    margin-top: 0!important;
  }

  .mapWrap{
    width: 100%;
  }

  .title{
    display: none;
  }

  section.light{
    min-width: 420px;
  }

  #zoomControls{
    position: initial;
    flex-direction: column;
    max-width: 70px;
  }

  .floating{
    flex-direction: column;
    bottom: 320px;
    align-items: end;
  }

}
